- Please follow all of the https://docs.expo.dev/
- Make the project modular and reusable as possible
- please only change what I need you to change when fixing a bug
- please only add code that is needed   
